%h2.hide Circles

%p
  Circles begin with one person. One person, one letter. As a circle grows, it
  is considered to be <em>“open”</em>. Once a circle reaches eight members, it is 
  <em>“closed”</em>. A circle is marked “closed” once the originator receives 
  a letter back from the eighth member.

%table
  %thead
    %tr
      %th Identifier
      %th Open
      %th Closed
  %tbody
    %tr
      %td APS
      %td 5
      %td 0

%p
  Closed circles will be documented here. Stay tuned. Interested in starting
  a circle? Check out the <a href="/materials">Materials</a> page.
