%h2.hide Introduction

%p
  The Amity Post Society is a letterwriting community. The Society is
  composed of <em>circles</em>. Circles are formed one person at a time via 
  handwritten letters between friends. Once a Circle reaches 
  <strong>eight</strong> members, the circle is closed. The eighth member 
  closes the circle by writing back to the originator of the circle.

%p
  Why? Because our friendships matter, a hell of a lot more than we are apt 
  to remember amidst our daily routines. Even more, it’s far too easy to 
  glance over the people we care about that live across the state, country, 
  or world. A written letter means infinitely more than a “Like” on Facebook 
  or an occasional text message. A letter is an alternate form of physical 
  contact, one that bridges distances, no matter how many miles we are from 
  one another.

%p
  Intrigued? More details on the <a href="/materials">Materials</a> page.</p>
