%h2.hide Materials

%p
  To start a circle, print copies of either of the PDFs provided 
  below and fill in the following:

%ol
  %li
    %strong Return to:
    Where do you want the eighth member of the 
    circle to write you back at? Write your address in the bottom left corner
    on the back of the card.
  %li
    %strong Circle identifier:
    Pick a three-letter code for your circles.
    Write this code in the bottom right corner on the front of the card
    and follow it with a dash and the number of the circle. Each circle you
    start will increment this number. You might use your initials (like 
    “MRF”) as the code and number your first circle “MRF-00001”. Your second
    circle would be “MRF-00002”.
  %li
    %strong Signature:
    At the bottom of the introduction, 
    sign your name, indicating that you are the originator of this circle.
  %li
    %strong Activity Log & Location:
    Before you send your letter
    off into the world, write the first entry in the Activity Log and mark
    your location on the Directory.

%p
  If you start a circle, I would <em>love</em> to hear about it.
  “Closed” circles will be <a href="/circles">documented</a> as scanned cards
  and elegant maps showing the Circle's path through the world. I'd love
  to show yours off. Get in touch with me via <strong>mike [at] mikefowler [dot] me</strong>. 

%div.material-list
  
  %figure.material
    %img{:src => "/images/card-letter.png", :alt => "8.5 × 11 Card"}
    %figcaption
      %a#download-letter{:href => "http://bit.ly/1dMQZEq"} Two-fold (PDF)
  
  %figure.material
    %img{:src => "/images/card-a2.png", :alt => "5.5 × 8.5 Card"}
    %figcaption
      %a#download-a2{:href => "http://bit.ly/1s1H027"} Single-fold, double-sided (PDF)
